/*






*/
.category, .category__box, .timeline__circle, .header {
  display: flex;
  justify-content: center;
  align-items: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 75%; }

body {
  background-color: #f5f5f6;
  box-sizing: border-box; }

.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 3rem;
  margin-bottom: 2rem;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.7rem; }

.about {
  padding: 4rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
  background-color: #f5f5f6; }
  .about__wone {
    color: #2ecc71; }
  .about__border:after {
    content: "";
    display: inline-block;
    width: 8%;
    border-bottom: 0.2rem solid #d4d9d9; }
  .about h2 {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase; }
  .about h4 {
    font-size: 2.5rem; }

.category__box {
  flex-direction: column;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  margin: 1.5rem;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.09);
  background-color: #d4d9d9; }
  .category__box:hover {
    cursor: pointer; }
  .category__box img {
    width: 40%;
    height: 40%; }
  .category__box-title {
    font-size: 2rem;
    margin-top: 0.3rem; }
  .category__box-birthday {
    background-image: linear-gradient(138deg, #6cb4e5 0%, #3498db 100%); }
  .category__box-wedding {
    background-image: linear-gradient(138deg, #cb92e2 0%, #9b59b6 100%); }
  .category__box-corporate {
    background-image: linear-gradient(138deg, #eea25f 0%, #e67e22 100%); }
  .category__box-party {
    background-image: linear-gradient(138deg, #4bd9bd 0%, #1abc9c 100%); }

.work {
  position: relative;
  background-color: #fff;
  padding: 9rem 2.5rem; }
  .work-content {
    margin-bottom: 8rem; }
  .work img {
    position: absolute;
    left: 1rem;
    top: 0;
    padding: 2rem; }
  .work-title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    text-transform: uppercase; }
  .work p {
    text-align: left;
    font-size: 1.5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s;
  padding: 1rem 4rem;
  outline: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background: linear-gradient(105deg, #4bd9bd 0%, #1abc9c 100%);
  font-weight: 500;
  font-size: 1.2rem; }

.timeline__full-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff; }

.timeline__button {
  cursor: pointer;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 280px;
  height: 50%;
  font-size: 2rem;
  padding: 0.8rem;
  box-shadow: inset 0 0.4rem 0.3rem rgba(0, 0, 0, 0.09);
  background-color: transparent;
  border-radius: 11px;
  border: 0.3rem solid #2ecc71;
  transition: all 0.3s; }
  .timeline__button:hover {
    box-shadow: none;
    background-color: #2ecc71;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .timeline__button:hover a {
      color: #fff; }
  @media (max-width: 788px) {
    .timeline__button {
      width: 240px; } }
  @media (max-width: 788px) {
    .timeline__button {
      margin-top: -8rem;
      margin-bottom: 5rem; } }
  .timeline__button a {
    color: #2ecc71;
    font-weight: 500;
    letter-spacing: 3.19px;
    text-transform: uppercase; }
    .timeline__button a:hover {
      text-decoration: none; }

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10rem; }
  .timeline__container {
    margin-top: -10rem; }
  @media (max-width: 788px) {
    .timeline {
      display: flex;
      flex-direction: column; } }
  .timeline__ul {
    margin: 0;
    padding: 0; }
  .timeline__li {
    list-style: none;
    position: relative;
    padding-bottom: 2rem;
    box-sizing: border-box; }
    @media (max-width: 788px) {
      .timeline__li {
        display: flex;
        align-items: center;
        justify-content: center; } }
    .timeline__li-title {
      width: 100%;
      font-weight: 800;
      position: absolute;
      left: 5rem;
      top: -3rem;
      text-align: center; }
    @media (max-width: 788px) {
      .timeline__li-title {
        font-weight: 800; } }
    .timeline__li-common {
      transition: all 0.4s ease; }
      .timeline__li-common::after {
        content: "";
        position: absolute;
        width: 0.3rem;
        height: 9rem;
        background-color: #d5e0e8;
        top: -2rem;
        left: 19.8rem;
        transform: rotate(90deg); }
      @media (max-width: 788px) {
        .timeline__li-common::after {
          content: "";
          position: absolute;
          width: 0.3rem;
          height: 7rem;
          background-color: #d5e0e8;
          top: 6rem;
          left: 12.4rem;
          transform: rotate(0deg); } }
  .timeline__circle {
    width: 5rem;
    height: 5rem;
    margin-left: 10rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    border-radius: 50%; }
    @media (max-width: 788px) {
      .timeline__circle {
        margin-bottom: 10rem; } }
    .timeline__circle h3 {
      display: inline-flex;
      font-weight: 400;
      color: #fff; }
    .timeline__circle-one {
      background: linear-gradient(138deg, #6cb4e5 0%, #3498db 100%); }
    .timeline__circle-two {
      background: linear-gradient(138deg, #cb92e2 0%, #9b59b6 100%); }
    .timeline__circle-three {
      background: linear-gradient(138deg, #eea25f 0%, #e67e22 100%); }
    .timeline__circle-four {
      background: linear-gradient(138deg, #4bd9bd 0%, #1abc9c 100%); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(10, 10, 10, 0.8), rgba(0, 95, 149, 0.8)), url(../img/event.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    text-align: center; }
