// MEDIA QUERIES
/*






*/

// @mixin respond-phone {
//     @media ()
// }

@mixin respond($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}
