$color-primary: linear-gradient(105deg, #4bd9bd 0%, #1abc9c 100%);
$color-wone: #2ecc71;
$color-gradient-blue: #005f95;
$color-gradient-black: #0a0a0a;
$color-font-dark: #777;
$color-white: #fff;
$color-shadow-black: #000;
$color-main-background-color: #f5f5f6;
$color-horizontal-line: #d4d9d9;
$color-hr-timeline: #d5e0e8;

// Categories Gradients
$color-birthday-gradient: linear-gradient(138deg, #6cb4e5 0%, #3498db 100%);
$color-wedding-gradient: linear-gradient(138deg, #cb92e2 0%, #9b59b6 100%);
$color-corporate-gradient: linear-gradient(138deg, #eea25f 0%, #e67e22 100%);
$color-party-gradient: linear-gradient(138deg, #4bd9bd 0%, #1abc9c 100%);
