.header {
	@extend %center;
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-gradient-black, 0.8),
			rgba($color-gradient-blue, 0.8)
		),
		url(../img/event.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);

	&__logo-box {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		text-align: center;
		
	}
}
