.btn {
	&:link,
	&:visited {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-white;
		border-radius: 0.5rem;
		transition: all 0.3s;
		padding: 1rem 4rem;
		outline: none;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-shadow-black, 0.2);
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-shadow-black, 0.2);
	}

	&--green {
		background: $color-primary;
		font-weight: 500;
		font-size: 1.2rem;
	}
}
