.timeline__full-container {
	// margin-left: 200px; // Desktop
	@include center;
	flex-direction: column;
	background-color: $color-white;
}

.timeline__button {
	&:hover {
		box-shadow: none;
		background-color: $color-wone;
		box-shadow: 0 1rem 2rem rgba($color-shadow-black, 0.2);
		a {
			color: $color-white;
		}
	}
	cursor: pointer;
	margin: 3rem auto;
	@include center;
	position: relative;
	@include respond(788px) {
		width: 240px;
	}
	width: 280px;

	height: 50%;
	font-size: 2rem;
	padding: 0.8rem;
	@include respond(788px) {
		margin-top: -8rem;
		margin-bottom: 5rem;
	}
	box-shadow: inset 0 0.4rem 0.3rem rgba($color-shadow-black, 0.09);
	background-color: transparent;
	border-radius: 11px;
	border: 0.3rem solid #2ecc71;
	transition: all 0.3s;

	a {
		&:hover {
			text-decoration: none;
		}
		color: #2ecc71;
		font-weight: 500;
		letter-spacing: 3.19px;
		text-transform: uppercase;
	}
}

.timeline {
	&__container {
		margin-top: -10rem;
	}

	@include center;
	@include respond(788px) {
		display: flex;
		flex-direction: column;
	}
	margin-left: -10rem;

	&__ul {
		margin: 0;
		padding: 0;
	}
	&__li {
		@include respond(788px) {
			@include center;
		}
		list-style: none;
		position: relative;
		padding-bottom: 2rem;
		box-sizing: border-box;

		// ↓ For Desktop
		&-title {
			width: 100%;
			font-weight: 800;
			position: absolute;
			left: 5rem;
			top: -3rem;
			text-align: center;
		}
		@include respond(788px) {
			// ↓ For Mobile
			&-title {
				font-weight: 800;
			}
		}

		&-common {
			transition: all 0.4s ease;
			// ↓ For Desktop
			&::after {
				content: "";
				position: absolute;
				width: 0.3rem;
				height: 9rem;
				background-color: $color-hr-timeline;
				top: -2rem;
				left: 19.8rem;
				// z-index: 1;
				transform: rotate(90deg);
			}
			@include respond(788px) {
				// ↓ For Mobile
				&::after {
					content: "";
					position: absolute;
					// z-index: 999;
					width: 0.3rem;
					height: 7rem;
					background-color: #d5e0e8;
					top: 6rem;
					left: 12.4rem;
					transform: rotate(0deg);
				}
			}
		}
	}

	&__circle {
		@extend %center;

		width: 5rem;
		height: 5rem;
		margin-left: 10rem; // For Desktop
		@include respond(788px) {
			margin-bottom: 10rem; // For Mobile
		}
		box-shadow: 0 0.3rem 0.6rem rgba($color-shadow-black, 0.16);
		border-radius: 50%;
		h3 {
			display: inline-flex;
			font-weight: 400;
			color: $color-white;
		}
		&-one {
			background: $color-birthday-gradient;
		}
		&-two {
			background: $color-wedding-gradient;
		}
		&-three {
			background: $color-corporate-gradient;
		}

		&-four {
			background: $color-party-gradient;
		}
	}
}
