*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

// This defines what is 1rem is
html {
	font-size: 75%;
}

body {
	background-color: $color-main-background-color;
	box-sizing: border-box;
}

.container-fluid {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
