body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-font-dark;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	margin: 3rem;
	margin-bottom: 2rem;

	text-align: center;
	&--main {
		display: block;
		font-size: 1.9rem;
		font-weight: 400;
		letter-spacing: 0.3rem;
	}

	&--sub {
		display: block;
		font-size: 5rem;
		font-weight: 400;
		letter-spacing: 0.7rem;
	}
}

.about {
	padding: 4rem 1.5rem 2.5rem 1.5rem;
	text-align: center;
	background-color: $color-main-background-color;
	&__wone {
		color: $color-wone;
	}
	&__border:after {
		content: "";
		display: inline-block;
		width: 8%;
		border-bottom: 0.2rem solid $color-horizontal-line;
	}
	h2 {
		font-size: 3.5rem;
		font-weight: 400;
		text-transform: uppercase;
	}
	h4 {
		font-size: 2.5rem;
	}
}

.category {
	@extend %center;
	&__box {
		@extend %center;
		flex-direction: column;
		text-transform: uppercase;
		color: $color-white;
		border-radius: 1rem;
		height: 20rem;
		width: 20rem;
		margin: 1.5rem;
		box-shadow: 0 10px 18px rgba($color-shadow-black, 0.09);
		background-color: $color-horizontal-line;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 40%;
			height: 40%;
		}

		&-title {
			font-size: 2rem;
			margin-top: 0.3rem;
		}
		&-birthday {
			background-image: $color-birthday-gradient;
		}

		&-wedding {
			background-image: $color-wedding-gradient;
		}

		&-corporate {
			background-image: $color-corporate-gradient;
		}

		&-party {
			background-image: $color-party-gradient;
		}
	}
}

.work {
	position: relative;
	background-color: $color-white;
	padding: 9rem 2.5rem;
	&-content {
		margin-bottom: 8rem;
	}
	img {
		// width: 10%;
		position: absolute;
		left: 1rem;
		top: 0;
		padding: 2rem;
	}
	&-title {
		text-align: center;
		font-size: 3.6rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		text-align: left;
		font-size: 1.5rem;
	}
}
